.messages{
    &__main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    &__head{
        background-color: darken($seccond-dark, 3);
        padding: 1rem;
        display: flex;
        align-items: center;

        &-avatar{
            background-color: $principal-dark;  
            color: darken($gray, 40);
            display: flex;
            font-size: 1.5rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }

        &-info{
            margin-left: 15px;
            margin-right: auto;
            color: darken($gray, 30);

            &-status-on{
                color: #0f5132;
            }

            &-status-off{
                color: #842029;
            }
        }

        &-delete{
            color: darken($gray, 30);
            cursor: pointer;
        }

        &-back-xs{
            color: darken($gray, 30);
            margin-right: 1rem;
            display: none;
            cursor: pointer;
        }
    }

    &__body{
        height: 100%;
        max-height: 100%;
        padding: 1rem;
        overflow: auto;

        &-message{
            display: flex;
            margin-bottom: 1rem;

            &:last-child{
                margin-bottom: 0;
            }
        }

        &-content{
            background-color: darken($seccond-dark, 1);
            color: darken($gray, 40);
            padding: .5rem;
            border-radius: .5rem;
            max-width: 80%;
        }
    }

    &__send{
        background-color: darken($seccond-dark, 3);
        padding: 1rem;
        height: 125px;
        display: flex;

        &-content{
            background-color: $seccond-dark;
            border: 1px solid darken($seccond-dark, 3);
            border-radius: .5rem;
            padding: 1rem;
            resize: none;
            width: calc(100% - 80px);
            color: darken($gray, 30);
            font-size: .9rem;
            height: 100%;
        }

        button{
            background-color: inherit;
            height: 100%;
            width: 80px;
            border: 1px solid darken($seccond-dark, 3);
            color: darken($principal-yellow, 5);
        }
    }

    &__right-message{
        justify-content: flex-end;

        .messages__body-content{
            background-color: darken($seccond-dark, 4);
            color: darken($gray, 40);
            padding: .5rem;
            border-radius: .5rem;
            max-width: 80%;
        }
    }
}

@media (max-width: 580px){
    .messages__head-back-xs{
        display: block;
    }
}